<section id="about" class="about" style="margin-top: 40px">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h2>My Projects</h2>
    </header>
    <div class="row gx-0">
      <div class="col-lg-12 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <% unless @user_projects.blank? %>
          <% @user_projects.each do |project| %>
            <div class="content" style="margin-top: 20px">
              <h3><%= project.title %></h3>
              <h2><%= project.description[0..150] %></h2>
                <p>
                  Relevance in 
                  <% project.regions[0..3].each do |region| %>
                    <%= region.name %>
                  <% end %>
                  ...
                </p>

                <p>
                  Spheres:  
                  <% project.spheres[0..3].each do |sphere| %>
                    <%= sphere.name %>
                  <% end %>
                  ...
                </p>

                <p>
                  We expect 
                  <% project.requirements_phrases[0..3].each do |requirement| %>
                    <%= requirement.name %>
                  <% end %>
                  ...
                </p>

              <div class="text-center text-lg-start">
                <a href="<%= project_path(project) %>" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Read More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          <% end %>
        <% else %>
          <h2> Your projects will be displayed here!!! </h2>
        <% end %>

        <%= paginate @user_projects %>
      </div>
    </div>
  </div>
</section>