<%= simple_form_for @project do |form| %>
  Region:
 <%= form.collection_check_boxes :region_ids, @regions, :id, :name %><br> 

  Sphere:
 <%= form.collection_check_boxes :sphere_ids, @spheres, :id, :name %> 

  <div>
    <%= form.input :title, label: :title %><br>
    <% @project.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.input :description, as: :text, label: :description %><br>
    <% @project.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%
=begin%>
 <%= simple_form_for @project do |form| %>
  <div id="all_regions">
    Region:
    <label id="reg_node"></label>
  </div>

  <div id="all_spheres">
    Sphere:
    <label id="sph_node"></label>
  </div>
  <div>
    <%= form.input :title, label: :title %><br>
    <% @project.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.input :description, as: :text, label: :description %><br>
    <% @project.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script>
  function addRegionBox(reg) {
    var newInput = newLabel = null

    var newInput = document.createElement("input")
        newInput.id = reg.id
        newInput.type = "checkbox"

    var newLabel = document.createElement("label")
        newLabel.for = reg.id
        newLabel.innerHTML = reg.name

    var reg_node = document.getElementById("reg_node")
    var parentDiv = document.getElementById("all_regions")

    parentDiv.insertBefore(newInput, reg_node)
    parentDiv.insertBefore(newLabel, reg_node)
  }

  function addSphereBox(sph) {
    var newInput = document.createElement("input")
        newInput.id = sph.id
        newInput.type = "checkbox"

    var newLabel = document.createElement("label")
        newLabel.for = sph.id
        newLabel.innerHTML = sph.name

    var sph_node = document.getElementById("sph_node")
    var parentDiv = document.getElementById("all_spheres")

    parentDiv.insertBefore(newInput, sph_node)
    parentDiv.insertBefore(newLabel, sph_node)
  }

  fetch('/api/v1/regions')
  .then(response => response.json())
  .then(regions => regions.forEach(region => addRegionBox(region) ))
  
  fetch('/api/v1/spheres')
  .then(response => response.json())
  .then(spheres => spheres.forEach(sphere => addSphereBox(sphere) ))
</script>


  <!-- <input type="checkbox" id="horns" name="horns">
  <label for="horns">Horns</label> --> 
<%
=end%>
