<%= simple_form_for @project do |form| %>
  Region:
  <%= form.collection_check_boxes :region_ids, @regions, :id, :name %><br> 
  <%# form.collection_select :region_ids, @regions, :id, :name, { multiple: true } %><br> 

  Sphere:
  <%= form.collection_check_boxes :sphere_ids, @spheres, :id, :name %> 

  <div>
    <%= form.input :title, label: :title %><br>
    <% @project.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.input :description, as: :text, label: :description %><br>
    <% @project.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
