<%= simple_form_for @project do |form| %>
  <%= form.collection_select(:region_ids, @regions, :id, :name, {:prompt => "Please Select a Region"}, {:multiple => true}) %>

  <%= form.collection_select(:sphere_ids, @spheres, :id, :name, {:prompt => "Please Select a Sphere"}, {:multiple => true}) %>

  <%= form.collection_select(:requirements_phrase_ids, @conditions, :id, :name, {:prompt => "Please Select a Condition"}, {:multiple => true}) %><br> 

  <div>
    <%= form.input :title, label: :title %><br>
    <% @project.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.input :description, as: :text, label: :description %><br>
    <% @project.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
