<h1>Title: <%= @project.title %></h1>

<p>Description: <%= @project.description %></p>

<p>Industrialist: <%= @project.user.email %></p>

<ul>
  <li><%= link_to "Edit", edit_project_path(@project) %></li>
  <li><%= link_to "Delete", project_path(@project),
                  method: :delete,
                  data: { confirm: "Confirm" } %></li>
</ul>

<div>
  <div style="float: left;">
    <h2>Add a comment to project:</h2>
    <%= render partial: 'comments/form', locals: {commentable_type: 'Project', commentable_id: @project.id} %>

    <h2>Project comments</h2>
    <%= render @project.comments %>
  </div>

  <div style="float: left; margin-left: 20%;">
    <h2>Sponsor proposal</h2>
    <%= render @project.sponsor_proposals %>

    <h2>Add a proposal to project:</h2>
    <%= render 'sponsor_proposals/form' %>
  </div>
</div>
