<h1>Title: <%= @project.title %></h1>

<p>Description: <%= @project.description %></p>

<ul>
  <li><%= link_to "Edit", edit_project_path(@project) %></li>
  <li><%= link_to "Delete", project_path(@project),
                  method: :delete,
                  data: { confirm: "Confirm" } %></li>
</ul>

<h2>Project comments</h2>
<%= render @project.comments %>

<h2>Add a comment to project:</h2>
<%= render 'comments/form' %>