<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Sponsorship Platform</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="/assets/theme/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/theme/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/theme/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/theme/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/theme/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/assets/theme/css/style.css" rel="stylesheet">
    <link href="/assets/theme/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">


    <link href="/assets/theme/img/favicon.png" rel="icon">
    <link href="/assets/theme/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application" %> 
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <header id="header" class="header fixed-top">
      <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="<%= root_path %>" class="logo d-flex align-items-center">
          <img src="/assets/theme/img/logo.png" alt="">
          <span>Sponsorify</span>
        </a>

        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <%= form_with url: search_path, local: false, model: @text do |form| %>
                <div class="form-floating">         
                  <%= form.text_field :text, class: 'form-control', id: 'text', required: true %>
                  <%= form.label 'Search', for: 'text' %>
                  <%= form.submit 'Search', id: 'search_button', hidden: true %>
                </div>
              <% end %>  

              <div id='results' style='position: relative; z-index: 2;'></div>   
            </li>
            <li><a class="nav-link scrollto " href="<%= home_path %>">Home</a></li>
            <li><a class="nav-link scrollto" href="<%= about_path %>">About</a></li>
            <% if current_user %>
              <li class="dropdown"><a href="#"><span>Setting</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li class="dropdown"><a href="<%= user_path(current_user) %>"><span>Me</span> <i class="bi bi-chevron-right"></i></a>
                    <ul>
                      <li><a href="<%= edit_user_path(current_user) %>">Edit</a></li>
                      <li><a href="<%= users_settings_path %>">My Settings</a></li>
                    </ul>
                  </li>
                  <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
                  <li><%= link_to 'Delete', user_path(current_user), method: :delete, data: { confirm: "Are you sure?" } %></li>
                </ul>
              </li>
              <li><a class="nav-link scrollto" href="<%= projects_path %>">Surf the Projects</a></li>
              <li><a class="nav-link scrollto" href="<%= user_comments_path %>">My Comments</a></li>
              <% if current_user.businessman? %>
                <li><a class="nav-link scrollto" href="<%= user_projects_path %>">My Projects</a></li>
                <li><a class="getstarted scrollto" href="<%= new_project_path %>">Get Started</a></li>
              <% else %>
                <li><a class="nav-link scrollto" href="<%= user_proposals_path %>">My Proposals</a></li>
              <% end %>
            <% end %>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

      </div>
    </header>
  
    <%= yield %>

    <footer id="footer" class="footer">

      <div class="footer-top">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
              <a href="<%= home_path %>" class="logo d-flex align-items-center">
                <img src="/assets/theme/img/logo.png" alt="">
                <span>Sponsorify</span>
              </a>
              <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
              <h4>Contact Us</h4>
              <p>
                A108 Adam Street <br>
                New York, NY 535022<br>
                United States <br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>

            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Sponsorify</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script src="/assets/theme/vendor/purecounter/purecounter.js"></script>
    <script src="/assets/theme/vendor/aos/aos.js"></script>
    <script src="/assets/theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/theme/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/theme/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/theme/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/theme/vendor/php-email-form/validate.js"></script>

    <script src="/assets/theme/js/main.js"></script>
  </body>
</html>

<script>
  $('#text').on('input', () =>
  {
    $('#search_button').click()
  })
</script>
